/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */

 /* 
  red: #d7280f; 
  yellow: #ffc904;

 */


 /**************************************/
 /*               Body                 */
 /**************************************/

 body {
   color: white;
   background: url(slate.jpg) no-repeat center center fixed;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   /*background: #f6ebc3;*/
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }

/* a {
  color: white;
  background: #d7280f;
  padding: 10px 30px;
  border-radius: 3px;
 }*/

 /**************************************/
 /*             Navigation             */
 /**************************************/

 header {
   background: black;
 }

 nav {
   font-family: 'Montserrat', sans-serif;
   width: 960px;
   margin: 0 auto;
 }

 nav ul {
   padding: 0;
   margin: 0 auto;
   height: 80px;
   line-height: 80px;
   clear: both;
   width: 100%;
 }

 nav ul li {
   font-size: 18px;
   list-style-type: none;
   display: inline-block;
   float: left;
 }

 nav ul li:first-child a {
   color: white;
   padding-left: 0;
   font-size: 24px;
 }

 nav ul li:last-child a {
   padding-right: 0;
 }

 nav ul li.right {
   float: right;
   text-align: right;
 }

 nav ul li a {
   color: #ffc904;
   text-decoration: none;
   padding-right: 17px;
 }

 nav ul li a:hover {
   color: white;
 }

 nav ul li img {
   vertical-align: middle;
   display: inline-block;
   border-radius: 100%;
   padding: 0 10px;
 }

 /**************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color:white;
}

h1 {
  text-align: center;
}

/**************************************/

ol, ul, li {
  list-style-type: none;
  display: inline-block;
}

/**************************************/

table {
  width: 100%;
}

tr {
  height: 50px;
}


tr a {
  float: right;
}

/**************************************/

input {
  display: block;
}

input[type=text],input[type=password],input[type=email],input[type=file], select {
  height: 20px;
  line-height: 20px;
  margin: 10px 0;
  min-width: 320px;
}

input[type=submit] {
  background-color: red;
  color:yellow;
  padding: 10px 20px;
  font-size: 20px;
  border-radius:5px;
  border:none;
}


/**************************************/

.welcome {
  width: 100%;
}

/**************************************/

.container {
  width: 960px;
  margin:0 auto;
}

p {
  font-size: 20px;
  color:white;
}

.container {
  clear: both;
}

.left {
  float: left;
}

aside {
  float: right;
  min-width: 320px;
}

a:link{
  text-decoration: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

.table {
  display:inline-block;
}

#map-canvas { 
  height: 22em; 
  border: 10px solid black;
}

.login {
  float: right;
  width:10%;
}

.login img {
  display: block;
  float: left;
  padding-right: 20px;
  margin: 20px 0;
}

.login a {
  display: block;
  float: left;
  margin: 41px 0;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

  
h3{
  padding: 2px;
  text-align: center;
  font-size: 15px;
}
.image{
  padding:10px;
}

#burger-container {
  display: block;
}

.taped-up a {
  margin: 0 auto;
  color: black;
  text-align: center;
  display: block;
}
.taped-up {
  display: inline-block;
  /* displays element as an inline element similar to <span> */
  padding: 15px;
  /* size of the white border */
  margin: 25px;
  /* position image with other page elements */
  /* give the border's background color a gradient */
  /* depending on the colors you give you can make it look new or old and faded */
  background: #F5EEE1;
  /*default color for browsers that don't support gradients*/
  background: -webkit-linear-gradient(left top, #F5EEE1, #FAFAF9);
  /* For Safari */
  background: -o-linear-gradient(bottom right, #F5EEE1, #FAFAF9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F5EEE1, #FAFAF9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #F5EEE1, #FAFAF9);
  /* Standard syntax (should be last) */
  /* give the image a drop shadow */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  /* give the image a slight rotation for a realistic effect */
  -ms-transform: rotate(3deg);
  /* IE 9 */
  -webkit-transform: rotate(3deg);
  /* Safari and Chrome */
  transform: rotate(3deg);
  /* Standard syntax (should be last) */
  /* Cleans up the jagged edges caused by the rotation a bit */
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
  backface-visibility: hidden;
  /* Standard syntax (should be last) */
  position: relative;
  /* lets us later position the tape relative to the box */
}

.taped-up:before {
  content: '';
  /* create an empty psuedo element */
  position: absolute;
  /* positions the tape relative to the box created above rather than the whole page */
  background-color: rgba(255, 255, 255, 0.4);
  /* using rgba for the color lets us make the tape transparent */
  height: 26px;
  /* height of the tape */
  /* using :before places the tape on the left of the div */
  left: 36px;
  /* position from the left edge of the .taped-up div edge */
  top: -14px;
  /* position from the top edge of the .taped-up div edge */
  width: 95px;
  /* width of the tape */
  /*rotate the tape 5 degrees counter-clockwise*/
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Safari and Chrome */
  transform: rotate(-5deg);
  /* Standard syntax (should be last) */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  /* give the tape a slight drop shadow */
  /* giving the tape an almost transparent dotted border on the right and left gives it a nicely perforated-look at the edges */
  border-style: dotted;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 2px;
  /* border only on right and left sides */
}